$colors: (
    primary: (
        50: (244, 73%, 96%),
        100: (244, 76%, 87%),
        200: (242, 76%, 81%),
        300: (243, 75%, 72%),
        400: (242, 75%, 66%),
        500: (243, 75%, 58%),
        600: (242, 60%, 52%),
        700: (243, 55%, 41%),
        800: (243, 55%, 32%),
        900: (243, 55%, 24%),
    ),

    brick: (
        50: (18, 83%, 95%),
        100: (17, 81%, 85%),
        200: (17, 80%, 78%),
        300: (17, 80%, 68%),
        400: (17, 80%, 62%),
        500: (17, 80%, 52%),
        600: (17, 73%, 48%),
        700: (17, 73%, 37%),
        800: (17, 73%, 29%),
        900: (18, 73%, 22%),
    ),

    search-first: (
        50: (300, 65%, 95%),
        100: (304, 69%, 86%),
        200: (303, 68%, 79%),
        300: (302, 68%, 70%),
        400: (302, 68%, 64%),
        500: (303, 68%, 55%),
        600: (303, 56%, 50%),
        700: (303, 57%, 39%),
        800: (303, 56%, 30%),
        900: (303, 56%, 23%),
    ),

    search-second: (
        50: (261, 54%, 95%),
        100: (260, 51%, 84%),
        200: (260, 51%, 76%),
        300: (260, 51%, 65%),
        400: (260, 51%, 58%),
        500: (260, 55%, 48%),
        600: (260, 55%, 44%),
        700: (260, 55%, 34%),
        800: (260, 56%, 26%),
        900: (260, 55%, 20%),
    ),

    neutral: (
        1: (0, 0%, 100%),
        2: (0, 0%, 99%),
        3: (240, 5%, 96%),
        4: (240, 7%, 95%),
        5: (240, 6%, 86%),
        6: (248, 7%, 77%),
        7: (245, 6%, 59%),
        8: (246, 10%, 41%),
        9: (243, 13%, 34%),
        10: (245, 22%, 23%),
        11: (242, 25%, 20%),
        12: (244, 33%, 16%),
        13: (244, 65%, 9%),
    ),

    gradients: (
        search: (
            type: 'linear',
            ang: 36deg,

            1: 'search-first-300',
            2: 'search-second-500',
            3: 'search-first-300',
        ),
    ),
);