@use './base';
@use './abstracts';

@use 'sass:math';

body {
    justify-items: center;
    width: 100%;
    min-height: 100svh;
    background: {
        color: map-get(
            abstracts.$color,
            primary,
            li-pink
        );
        image: url(../assets/images/background-pattern-mobile.svg);
        repeat: no-repeat;
        size: 100%;
        position: top;
    };

    @media only screen and (min-width: abstracts.pxRem(630px)) {
        background-image: url('../assets/images/background-pattern-desktop.svg');
    }
}

.grid-flow {
    display: grid;
    align-items: center;
}

.flex-flow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    box-sizing: border-box;
    gap: abstracts.$main-gap;
    width: clamp(1rem, 90%, 40rem);
    margin-inline: 1rem;
    padding: 1.25rem;
    background-color: map-get(
        abstracts.$color,
        primary,
        white
    );
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem 0 hsla(var(--primary-gray-purple), .3);
}

.title-wrapper {
    width: 8rem;
}

.star {
    width: 1.75rem;
    aspect-ratio: 1 / 1;
}

.sections-container {
    grid-template-rows: repeat(4, 1fr);
    gap: abstracts.$main-gap;
    // transition: grid-template-rows abstracts.$tran-duration abstracts.$tran-function;
}

.sections-wrapper {
    position: relative;
    grid-template-rows: 1fr 0fr;
    height: 100%;
    transition: grid-template-rows abstracts.$tran-duration abstracts.$tran-function;

    &:not(:last-child)::after {
        content: '';
        position: absolute;
        bottom: math.div(abstracts.$main-gap, -2);
        width: 100%;
        height: abstracts.pxRem(2px);
        background-color: map-get(
            abstracts.$color,
            primary,
            li-pink
        );
    }
}

.question {
    width: clamp(abstracts.pxRem(203px), 70%, 30rem);
}

.more-button {
    width: 1.75rem;
    aspect-ratio: 1 / 1;
    padding: 0;
    border: none;
    background-color: map-get(
        abstracts.$color,
        primary,
        li-purple
    );
    border-radius: 50%;
    transition: background abstracts.$tran-duration abstracts.$tran-function;
}

.more {
    fill: map-get(
        abstracts.$color,
        primary,
        white
    );
}

.line {
    transition: 
        rotate abstracts.$tran-duration abstracts.$tran-function,
        opacity abstracts.$tran-duration abstracts.$tran-function;
    transform-origin: center;
}

.more-button[aria-pressed="true"] {
    background-color: map-get(
        abstracts.$color,
        primary,
        dark-purple
    );

    .y-axis {
        rotate: -90deg;
        opacity: 0;
    }
}

.sections-wrapper.active {
    grid-template-rows: auto 1fr;
}

.answer {
    height: 100%;
    color: map-get(
        abstracts.$color,
        primary,
        gray-purple
        );
    overflow: hidden;
}