@use '../abstracts/variables';

@font-face {
    font-family: 'Poppins';
    font-display: static;
    src: local('Poppins ExtraLight'),
        url('/Newbie/4-card/fonts/poppins-extralight-webfont.woff2') format('woff2'),
        url('/Newbie/4-card/fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: 200 300;
}

@font-face {
    font-family: 'Poppins';
    font-display: static;
    src: local('Poppins Regular'),
        url('/Newbie/4-card/fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('/Newbie/4-card/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: 400 500;
}

@font-face {
    font-family: 'Poppins';
    font-display: static;
    src: local('Poppins ExtraLight'),
        url('/Newbie/4-card/fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('/Newbie/4-card/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: 600 700;
}

html {
    font-size: map-get(
        variables.$font,
        size
    );
}

body {
    font-family: map-get(
        variables.$font,
        family
    );
    font-weight: map-get(
        variables.$font,
        weight,
        regular
    );

    line-height: 1.25rem;
}

header { text-align: center; }

[weight="semi-bold"] {
    font-weight: map-get(
        variables.$font,
        weight,
        semi-bold
    );
    line-height: 1.875em;
}

.title {
    font-size: 1.25rem;
    font-weight: map-get(
        variables.$font,
        weight,
        extra-light
    );
}

.item-title { font-size: 1.125rem; }

.item-description { font-size: .875rem; }