@use '../abstracts/colors';
@use '../abstracts/functions';
@use '../abstracts/mixins';

@use 'sass:color';
@use 'sass:math';

.bars-wrapper {
    $nav-color: hsl(join(map-get(
        colors.$colors,
        primary,
        800
    ), (), space));
    $nav__bars-blend-color: hsl(join(map-get(
        colors.$colors,
        primary,
        500
    ), (), space));
    $bars-blend-color: hsl(join(map-get(
        colors.$colors,
        primary,
        200
    ), (), space));

    $bars-red: functions.blendModeX(color.red($nav-color), color.red($nav__bars-blend-color));
    $bars-green: functions.blendModeX(color.green($nav-color), color.green($nav__bars-blend-color));
    $bars-blue: functions.blendModeX(color.blue($nav-color), color.blue($nav__bars-blend-color));

    $wrapper-red: functions.blendModeC($bars-red, color.red($bars-blend-color));
    $wrapper-green: functions.blendModeC($bars-green, color.green($bars-blend-color));
    $wrapper-blue: functions.blendModeC($bars-blue, color.blue($bars-blend-color));

    $bars-color: rgb($bars-red, $bars-green, $bars-blue);
    $wrapper-color: rgb($wrapper-red, $wrapper-green, $wrapper-blue);

    --_line-color: #{$bars-color};
    --_wrapper-color: #{$wrapper-color};
    --_line-height: 1.25rem;
    --_middle-line-y: calc(50% - var(--_line-height) / 2);

    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;

    &:focus-visible::before {
        @include mixins.focusAbsolute();
        
        z-index: 1;
    }

    &:hover {
        ~ nav { transform: translateX(0); }

        .bars__line-1,
        .bars__line-3 { y: var(--_middle-line-y); }

        .bars__line-1 { transform: rotate(45deg);}

        .bars__line-2 { opacity: 0; }

        .bars__line-3 { transform: rotate(-45deg); }
    }
}

.bars {
    cursor: pointer;
    position: relative;
    height: var(--fs-600);
    fill: var(--_line-color);
    mix-blend-mode: overlay;
    z-index: 1;
}

.bars__line {
    width: 100%;
    height: var(--_line-height);
    rx: 10%;
    transform-origin: center;

    transition: {
        property: transform, y;
        duration: var(--_nav-tran-duration);
        timing-function: ease-out;
    };

    &-2 {
        y: var(--_middle-line-y);

        transition-property: opacity;
    }

    &-3 { y: calc(100% - var(--_line-height)); }
}

.bars-background {
    position: absolute;
    inset: 0;
    fill: var(--_wrapper-color);
    z-index: -1;
}