footer {
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 0;
    color: var(--bg-color);
    background-color: var(--hsl-primary-900);
    z-index: 2;
}

.sitemap {
    width: 100%;
    justify-content: space-evenly;
}

.sitemap-link {
    cursor: pointer;
    transition: color var(--tran-duration);

    &:hover { color: var(--hsl-primary-200); }
}