@use '../abstracts/functions';
@use '../abstracts/mixins';

nav {
    box-sizing: border-box;
    position: fixed;
    inset: 0;
    width: 60%;
    min-height: 100svh;
    padding: 7.5rem 0;
    color: var(--_color);
    background-color: var(--hsl-primary-800);
    transform: translateX(-100%);
    
    transition: transform var(--tran-duration) cubic-bezier(.28,.49,.08,.84);
}

.link-container{
    justify-items: left;
    grid-template-columns: 
        [break-out-start] var(--_padding-x)
        [cont-start] auto [cont-end]
        1fr [break-out-end];
    row-gap: 2.5rem;
}

.link-wrapper {
    cursor: pointer;
    position: relative;
    grid-column: cont;

    &:hover > .link::after {
        opacity: 1;
        transform: scaleX(1);
    }
}

.link-icon {
    --_fs: var(--fs-500);

    padding-right: 1rem;
    width: calc(1.5 * var(--_fs));
    font-size: var(--_fs);
}

.link {
    color: inherit;

    &:focus { outline: none; }

    &:focus-visible::before { @include mixins.focusAbsolute(); }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1rem;
        width: 100%;
        height: functions.pxRem(5);
        background-color: var(--_color);
        border-radius: 1rem;
        transform: scaleX(0);
        opacity: 0;

        transition: {
            property: opacity, transform;
            duration: var(--tran-duration);
        }
    }
}