@use '../abstracts/functions';

nav {
    box-sizing: border-box;
    position: fixed;
    inset: 0;
    transform: translateX(-100%);
    transform: translateX(0);
    width: 60%;
    min-height: 100svh;
    padding: 7.5rem var(--_padding-x);
    color: var(--_color);
    background-color: var(--hsl-primary-800);

    transition: transform var(--tran-duration) cubic-bezier(.28,.49,.08,.84);
}

.link-wrapper {
    grid-template-columns: max-content auto;
    gap: 1.25rem 1rem;
}

.link-icon {
    font-size: var(--fs-500);
}

.link {
    position: relative;
    justify-self: left;
    color: inherit;

    &::after {
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
        height: functions.pxRem(5);
        background-color: red;
    }
}