@use '../abstracts/mixins';

.search-bar {
    --_clr-border: var(--clr-primary-900);
    --_hsl-border: hsl(var(--_clr-border));
    --_outline: .25rem;

    position: relative;
    height: 2.75rem;
    background-color: var(--bg-color);
    outline: var(--_outline) solid var(--_hsl-border);
    outline-offset: calc(-1 * var(--_outline));
    border-radius: 100vw;

    @include mixins.focusWithin;
}

.search-input {
    width: 100%;
    padding-left: 1.75rem;
    color: var(--hsl-neutral-13);
    background-color: transparent;
    border: none;

    &::placeholder { color: hsl(var(--_clr-border), .875);}

    &:focus { outline: none; }
}

.search-icon {
    --_active-tran-duration: 87.5ms;

    position: relative;
    height: 100%;
    aspect-ratio: 3 / 2;
    margin-left: .5rem;
    font-size: 1.5rem;
    color: var(--bg-color);
    background-color: var(--_hsl-border);
    border: none;
    border-radius: inherit;
    box-shadow: 0 0 .5rem 0 var(--hsl-neutral-10);
    z-index: 1;

    transition: scale var(--tran-duration) cubic-bezier(.3,-0.85,.33,2.12);

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: {
            image: var(--gr-search);
            size: 200%;
            position: right;
        }
        border-radius: inherit;
        z-index: -1;

        transition: {
            property: background-position, opacity;
            duration: var(--tran-duration);
        }
    }

    &:hover { scale: 1.2; }

    &:hover::after { background-position: left; }

    &:active {
        scale: 1;

        transition: var(--_active-tran-duration) ease-out;
    }

    &:active::after {
        opacity: 0;

        transition-duration: var(--_active-tran-duration);
    }
}