@use '../abstracts/functions';
@use '../abstracts/colors';

input {
    box-sizing: border-box;
    width: 100%;
    padding: .75rem 1.75rem;
    color: var(--clr-hsl-input-200);
    background-color: transparent;
    border-radius: .375rem;
    border: functions.pxRem(1) solid var(--clr-hsl-terms-700);
    outline: none;

    &::placeholder { color: var(--clr-hsl-input-200); }

    &:focus {
        border: functions.pxRem(1) solid var(--clr-hsl-input-200);
    }
}

[type="submit"] {
    color: hsl(0, 0%, 100%);
    background-color: var(--clr-hsl-button-500);
    border: none;
    box-shadow: 0 .25rem 0 var(--clr-hsl-button-400);

    &:focus { border: none; }
}