@use 'sass:map';

$colors-base: (
    primary: (0, 100%, 74%),
    button: (154, 59%, 51%),
    header: (248, 32%, 49%),
    input: (249, 10%, 26%),
    terms: (246, 25%, 77%),
);

$colors: ();

@each $pick, $hsl in $colors-base {
    @for $i from 1 through 8 {
        $light: nth($hsl, 3) % 10 + $i * 10;
        $value: set-nth($hsl, 3, $light);

        $colors: map.deep-merge(
            $colors,
            ($pick: (#{$i}00: $value))
        );
    }
}