$colors: (
    primary: (
        100: (324, 100%, 74%),
        200: (11, 100%, 74%),
        300: (0, 100%, 74%),
        400: (294, 100%, 74%),
        500: (21, 100%, 74%),
    ),
    header: (
        100: (229, 32%, 49%),
        200: (268, 32%, 49%),
        300: (248, 32%, 49%),
        400: (210, 32%, 49%),
        500: (287, 32%, 49%),
    ),
    button: (
        100: (134, 59%, 51%),
        200: (174, 59%, 51%),
        300: (154, 59%, 51%),
        400: (112, 59%, 51%),
        500: (194, 59%, 51%),
    ),
    input: (
        100: (231, 10%, 26%),
        200: (268, 10%, 26%),
        300: (249, 10%, 26%),
        400: (212, 10%, 26%),
        500: (286, 10%, 26%),
    ),
    terms: (
        100: (226, 26%, 77%),
        200: (266, 26%, 77%),
        300: (246, 25%, 77%),
        400: (208, 26%, 77%),
        500: (284, 26%, 77%),
    )
)