$fonts: (
    family: (
        400: ('Poppins', sans-serif),
    ),
    size: (
        400: .6rem,
        500: .8rem,
        600: 1rem,
        700: 1.5rem
    ),
    weights: (
        regular: 400,
        medium: 500,
        semi-bold: 600,
        bold: 700
    )
);