@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
  font-size: 100%;
  font: inherit;
}

/* GRADIENT: la estructura es como:
    white: (
        type: 'linear',
        ang: 135deg,
        color: (
            (0, 0%, 100%), // El orden det. la dir.
            (0, 100%, 98%)
        ),
    )
*/
/* Es el que se usa en el cod. a menos que se cambia por "hsla()" */
/* Cód. para pasar de "$color-base" a "$color" */
:root {
  --neutral-dark-gray-blue: 217, 19%, 35%; /* Sirve por si se quiere cambiar la opacidad */
  --neutral-des-dark-blue: 214, 17%, 51%; /* Sirve por si se quiere cambiar la opacidad */
  --neutral-gray-blue: 212, 23%, 69%; /* Sirve por si se quiere cambiar la opacidad */
  --neutral-light-gray-blue: 210, 46%, 95%; /* Sirve por si se quiere cambiar la opacidad */
}

@font-face {
  font-family: "Manrope";
  font-display: static;
  src: local("Manrope Medium"), url("/Newbie/article-component/fonts/Manrope/web-fonts/Manrope-Medium.woff2") format("woff2"), url("/Newbie/article-component/fonts/Manrope/web-fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500 600;
}
@font-face {
  font-family: "Manrope";
  font-display: static;
  src: local("Manrope Bold"), url("/Newbie/article-component/fonts/Manrope/web-fonts/Manrope-Bold.woff2") format("woff2"), url("/Newbie/article-component/fonts/Manrope/web-fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700 800;
}
html {
  font-size: 13px;
}

body {
  font-family: "Manrope";
  font-weight: 500;
  line-height: 1.75rem;
}

[weight=bold] {
  font-weight: 700;
}

.title {
  font-size: 1.25rem;
}

body {
  width: 100%;
  min-height: 100dvh;
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
}

.grid-flow {
  display: grid;
  place-items: center;
}

.flex-flow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  box-sizing: border-box;
  grid-template-rows: 40%;
  grid-template-columns: 2.5rem auto 2.5rem;
  width: 80%;
  height: 80%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  overflow-y: hidden;
}
main * {
  grid-column: 2/3;
}

[weight=bold] {
  color: hsl(217, 19%, 35%);
}

.title {
  margin-bottom: 1rem;
}

.cover {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user {
  width: 100%;
}

.avatar {
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.user-desc {
  width: 65%;
}
.user-desc > span {
  display: inline-block;
  width: 100%;
}

.share-wrapper {
  display: grid;
  place-content: center;
  width: 3rem;
  aspect-ratio: 1/1;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
