@use 'sass:map';

$color-base: (
    primary: (
        red: (0, 78%, 62%),
        cyan: (180, 62%, 55%),
        orange: (34, 97%, 64%),
        blue: (212, 86%, 64%),
    ),

    neutral: (
        dark-blue: (234, 12%, 34%),
        gray-blue: (229, 6%, 66%),
        light-gray: (0, 0%, 98%),
    ),
);

$color: ();

@each $type, $value in $color-base {
    @each $pick, $cont in $color-base {
        $color: map.deep-merge(
            $color,
            ($type: ($pick: hsl(join(
                $cont,
                (), space
            ))))
        );
    }
}

$font: (
    size: 15px,
    family: ('Poppins', sans-serif),
    weight: (
        extra-light: 200,
        regular: 400,
        semi-bold: 600
    ),
);